{% include 'partials/header.html.twig' %}
    <body>
        {% block body %}
           <div class="container">
               {% for item in items %}
                       <a href="{{ item.url }}" target="_blank" class="row">
                           <div class="col-md-4">
                               <img class="preview" src="{{ item.imageUrl }}" alt="{{ item.title }}" title="{{ item.title }}">
                           </div>
                           <div class="col-md-8">
                               <h5>({{ item.id }}) {{ item.title }}</h5>
                               <!--<p>{{ item.description }}</p>-->
                               <small>{{  item.createdDate|date('Y-m-d H:i:s') }}</small>
                           </div>
                       </a>
               {% endfor %}
           </div>
        {% endblock %}
    </body>
{% include 'partials/footer.html.twig' %}
